apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  type: NodePort
  selector:
    app: python-flask-label -use same label name mentioned in deployment.yml files inside pod template
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30007